NODE_ENV = 'development'

PORT = 8080

DB_URI = 'mongodb://localhost:27017/test_db23'

#! cloudinary

CLOUDINARY_CLOUD_NAME = 'cloud_name'
CLOUDINARY_API_KEY = 'api_key'
CLOUDINARY_API_SECRET = 'api_secret'

#!jwt

#!cokkies

#!smtp / email